
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">Cheil</a>
    <form class="d-flex" style="padding: 5px" >
      <input [(ngModel)]="finded" name="finded" type="search" placeholder="Buscar Hotel" aria-label="Search">
      <div style="padding-left: 20px">
        <button class="btn btn-outline-success" (click)=search()>Buscar</button>
      </div>
    </form>
  </div>
</nav>
<div class="container-fluid" style="padding-top: 20px">
    <div class="row row-cols-6 gy-5 gx-2" style="justify-content: center">
      <div *ngFor="let hotel of hotelscopy"  class="card" style="width: 24rem; padding: 33px;">
        <img [src]="hotel.img" class="card-img-top" alt="...">
        <div class="col">
          <div class="card-body">
            <h5 class="card-title">{{ hotel.name }}</h5>
            <hr>
            <p class="card-text">{{ hotel.description }}</p>
          </div>
        </div>
      </div>
    </div>
</div>


<div *ngIf="flag!">
  <h1>{{ message }}</h1>
</div>

<router-outlet></router-outlet>
